<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="staticHead">
    <meta charset="UTF-8">
    <title>Title</title>
    <!--index-->
    <link href="/style/authority/main_css.css" rel="stylesheet" type="text/css" />
    <link href="/style/authority/zTreeStyle.css" rel="stylesheet" type="text/css">
    <!--introduce-->
    <link href="/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="/style/authority/common_style.css" rel="stylesheet" type="text/css">
    <!--matchScore-->
    <link rel="stylesheet" type="text/css" href="/style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>


    <script type="text/javascript" src="/scripts/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/scripts/zTree/jquery.ztree.core-3.2.js"></script>
    <script type="text/javascript" src="/scripts/authority/commonAll.js"></script>
    <!--matchScore-->
    <script type="text/javascript" src="/scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="/scripts/artDialog/artDialog.js?skin=default"></script>

</head>
<body>

</body>
</html>